<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="commons/nav-bars :: header-administrador"></div>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/CSS/user/user.css}">
    <link rel="stylesheet" th:href="@{/CSS/Fonts/font-blackjack.css}">
    <title>Family</title>
</head>

<body>
    <nav th:insert="commons/nav-bars :: navbar-administrador"></nav>

    <h1>UPS!!! En desarrollo</h1>
    <div class="text-center">
        <img id="psyduck" th:src="@{/images/Psyduck.png}" width="400" height="400">
    </div>
    <div th:replace="commons/nav-bars :: scripts-administrador"></div>

</body>

</html>