<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Inicio Sesión Venticas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/CSS/login.css}">
    <link rel="stylesheet" th:href="@{/CSS/Fonts/font-blackjack.css}">
</head>

<body>
    <form id="logInForm" action="login" th:action="@{/login}" method="POST">
        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-xs-8 col-sm-6">
                        <img alt="Venticas" th:src="@{/images/logo.png}">
                    </div>

                    <div class="col-xs-4 col-sm-6 ">
                        <h1 id="h1Username">Usuario:</h1>
                        <input id="username" class="form-control" name="username" type="text"
                            placeholder="Introduzca su nombre de usuario">
                        <br>
                        <h1 id="h1Password">Contraseña:</h1>
                        <input id="password" class="form-control" name="password" type="password"
                            placeholder="Introduzca su contraseña">
                        <br />
                        <div th:if="${param.error}">
                            <span id="error">Username o Contraseña invalidos.</span>
                        </div>
                        <br />
                        <button id="logIn" name="logIn" type="submit">
                            <ion-icon name="person"></ion-icon> Iniciar Sesión
                        </button>
                        <div>
                            <label>Si no tienes cuenta puedes registrarte</label>
                            <br />
                            <button id="register" type="button" class="btn btn-outline-success"
                                onclick="location.href='./Register'">Registrarse!!!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <footer>
        <h1 id="h1Footer" class="text-center">¡Bienvenidos!</h1>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM "
        crossorigin="anonymous"></script>
</body>

</html>