<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <div th:replace="commons/nav-bars :: header-administrador"></div>
</head>
<body>
    <nav th:insert="commons/nav-bars :: navbar-cliente"></nav>
    <h1>Procesar Orden</h1>

    <div class="container">
        <form class="form-horizontal" action="insertProduct" th:object="${order}" th:action="@{/saveOrder}" method="post">
            <div class="form-group">
                <input class="form-control" id="inputName" type="text" th:value="${customerID}" hidden>
            </div>
            <div class="form-group">
                <label for="trNumber">TrackingNumber</label>
                <input type="text" class="form-control" id="trNumber" th:field="*{trackingNumber}" readonly>
            </div>
            <div class="form-group">
                <label for="totalValue">Valor total</label>
                <input type="text" class="form-control" id="totalValue" th:field="*{totalValue}" readonly>
            </div>
            <div class="form-group">
                <label for="selectCategories">Direcciones disponibles</label>
                <select th:field="*{shippingAddress}" class="form-control" id="selectCategories" size="3">
                    <option th:each="address: ${addresses}"
                            th:value="${address.id}"
                            th:text="${address.addressLine}">
                </select>
            </div>
            <input type="submit" value="Confirmar" class="btn btn-primary">
        </form>
    </div>

    <div th:replace="commons/nav-bars :: scripts-administrador"></div>
</body>
</html>